body {
    background-color: burlywood;
}

header {
    color: white;
    font-size: 50px;
    text-align: center;
    padding: 10px 0;
    margin-bottom: 10px;
    background-color:rgb(58, 58, 58)
}

main {
    background-color: rgb(246, 250, 252);
    padding: 30px;
    margin: 30px;
    /* background-color: salmon; */
}

ul {
    list-style-type: none;
    background-color:rgb(246, 250, 252);
}

.prevSearchBtn {
    background-color: white;
    text-align: center;
    padding: 10px 30px;
    font-size: 20px;
    color: rgb(32, 32, 32);
    display: block;
    width: 100%;
}

h2 {
    display: none;
}

.weather {
    margin-bottom: 30px;
}

.today {
    padding: 20px;
    margin: 0 20px;
    background-color: white;
}

.forecastTitle {
    margin: 20px
}

.forecastDay {
    padding: 10px;
}

.dateText {
    font-weight: bold;
    font-size: 25px;
}

#forecast {
    color: white;
}

#searchBtn {
    color: white;
}

#searches {
    padding-inline-start: 0px;
}

#UVindex {
    padding: 5px 10px;
    color: white;
}

#todayIcon, .city {
    float: left;
}

p {
    clear: both;
}